:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color: #242424;
  --border-color-hover: #646cff;
  --text-color: #ffffff;
  --modal-bg-color: rgba(217, 217, 217, 0.9);
  --overlay-bg-color: rgba(51, 51, 51, 0.7);

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  display: grid;
  place-items: center;
  height: 100vh;
}

h1, h3 {
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5em;
  margin: 1rem 0;
}

input, button, table {
  font-family: inherit;
}

input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #1a1a1a;
  color: var(--text-color);
  transition: border-color 0.3s ease;
}

input:hover, button:hover {
  border-color: var(--border-color-hover);
}

button {
  padding: 0.6em 1.2em;
  margin: 0.5em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-container, .table-container {
  max-width: 400px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  color: var(--text-color);
}

th, td {
  padding: 0.75em;
  text-align: center;
  border: 1px solid #ddd;
}

.Modal {
  padding: 1.5em;
  background-color: var(--modal-bg-color);
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: black;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
