.Modal {
  margin: 24px 24px 24px 24px;
  justify-content: center;
  text-align: center;
  border: 1px solid #ddd;
  padding: 0.6em 1.2em 0.6em 1.2em;
  background-color: rgba(217, 217, 217, 0.9)
}

.Modal h2,
.Modal h3,
.Modal p {
  color: black;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.7);
}

